<h1>Location <%= location.name %></h1>
<table>
  <tr>
    <th>Kind</th>
    <th>Current Value</th>
  </tr>
  <% states.each do |state| %>
    <tr>
      <td><%= state.kind %></td>
      <td><%= state.current %></td>
    </tr>
  <% end %>
  <% values.each do |value| %>
    <tr>
      <td><%= value.kind %></td>
      <td><%= value.current %></td>
    </tr>
  <% end %>
</ul>
