<!doctype HTML>
<html>
  <head>
    <title>Central</title>
    <%= javascript 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js' %>
    <%= javascript 'https://cdn.jsdelivr.net/underscorejs/latest/underscore-min.js' %>
    <%= javascript 'https://cdn.jsdelivr.net/taucharts/latest/tauCharts.min.js' %>
    <%= stylesheet 'https://cdn.jsdelivr.net/taucharts/latest/tauCharts.min.css' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
